*.cache
*.editorconfig
.vs/

OriginalScan/bin
OriginalScan/obj
OriginalScan/obj/Debug
OriginalScan/bin
OriginalScan/obj
OriginalScan/obj/Debug

ScanApp.Data/bin
ScanApp.Entities/bin
ScanApp.Intergration/bin
ScanApp.Model/bin
ScanApp.Service/bin
ScanApp.Common/bin

ScanApp.Data/obj
ScanApp.Entities/obj
ScanApp.Intergration/obj
ScanApp.Model/obj
ScanApp.Service/obj
ScanApp.Common/obj

ScanApp.Data/obj/Debug
ScanApp.Entities/obj/Debug
ScanApp.Intergration/obj/Debug
ScanApp.Model/obj/Debug
ScanApp.Service/obj/Debug
ScanApp.Common/obj/Debug



